{% extends 'base.html' %}

{% block title %}RMDB - HOME{% endblock %}

{% block main_content %}
	<h1>RMDB - Richyvk's Movie Database</h1>
	<p class="lead">Welcome to RMDB!</p>
	<p>RMDB is a database driven website made with <a href="http://flask.pocoo.org/">Flask</a>, <a href="https://www.sqlite.org/">SQLite</a>, <a href="https://github.com/kennethreitz/records">Records</a> and a <a href="https://startbootstrap.com/template-overviews/bare/">Start Bootstrap</a> template.</p>
	<p>The site was built as a homework assignment for the <a href="https://lambdaschool.com/">Lambdaschool</a> mini-bootcamp.</p>
{% endblock %}
